:root {
    --nav-bg-color: #334553;
    --pr-color: #ffc107;
}

body {
    font-family: 'Cairo', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--nav-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--nav-bg-color);
}

.navbar  {
    background-color: var(--nav-bg-color);    
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--pr-color);
}

.navbar a {
    color: white;
}

.navbar .navbar-brand:hover {
    color: #ffffff;
    cursor:default ;
}

.navbar .nav-link:hover {
    color: #ffffff;
    text-shadow: #ffffff 0 0 5px;
}

.navbar .navbar-brand:focus {
    color: #ffffff;
    text-shadow: #ffffff 0 0 5px;
}

.navbar .navbar-toggler {
    color: white;
    border:white 0.2px solid;
}

.navbar .navbar-toggler:focus {
    color: white;
    box-shadow: white 0 0 2px 1px  ;
}

.sin-uot-my {
    background-color: var(--nav-bg-color);
    border: none;
    color: #ffffff;
    font-size: 1.3em;
}

.sin-uot-my:hover {
    color: var(--pr-color);
}

.fa-sign-out::before {
    content: "";
    display: none;
}

.main {
    width: 100%;
    min-height: 100vh ;
    display: flex;
    background: url(../images/iStock-1283483882.jpg) no-repeat;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.obt-form {
    padding: 30px;
    width: 580px;
    background-color: var(--nav-bg-color);
    color: #ffffff;
    border-radius: 15px;
}

.obt-form .form-control{
    width: 280px;
    border-radius: 15px;
}

.obt-form .form-control:focus {
    box-shadow: #ffffff 0 0 1px 3px;
}

.b-opt {
    background-color: #5ed34f;
    color: #ffffff;
}

.b-opt:hover {
    background-color: #ffffff;
    color: var(--nav-bg-color);
}

.copyright .p-span {
    font-size: 1.1rem;
    font-weight: 500;
}

.table {
    width: 900px;
}

@media (max-width: 992px){
.navbar .nav-link:focus {
        color: #ffffff;
        border-radius: 5px;
        box-shadow: white 0 0 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

footer {
    padding-bottom: 15px;
    width: 100%;
    padding-top: 15px;
    color: #ffffff;
    background-color: var(--nav-bg-color);
    font-size: 0.9em;
}

@media (max-width: 992px){
.sin-uot-my {
        margin-top: 5px;
    }
}

@media (max-width: 680px){
.obt-form {
        margin-bottom: 100px;
        width: 400px;
    }
}

@media (max-width: 450px){
.obt-form {
        width: 320px;
    }
}

@media (max-width: 575px){
.obt-form .form-control {
        width: 220px;
    }
}

@media (max-width: 280px) {
.obt-form {
    margin-top: 5px;
        width: 240px;
    }
}
@media (max-width: 280px) {
.obt-form .form-control {
        width: 180px;
    }
}

@media (max-width: 450px) {
.obt-form .bb-emp{
        margin-top: 5px;
    }
}

@media (max-width:1023px) {

    .main {
        margin-top: 0;
        font-size: 0.7em;
    }

    .btn {
        font-size: 1.3em;
    }
}